<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% provide :page_title, @question.title %>
<% currently_at t('menu.questions') %>

<h1 class="mb-4"><%= @question.title %></h1>

<time datetime="<%= @question.decorate.formatted_created_at %>">
  <%= @question.decorate.formatted_created_at %>
</time>

<div class="fs-4 mt-3"> Question </div>

<div class="lead my-3 fs-4">
  <%= sanitize @question.body %>
</div>

<div class="mb-3">
  <%= @question.user.decorate.gravatar %>
  <%= @question.user.decorate.name_or_email %>
</div>

<div class="border-top border-bottom py-3">
  <div class="btn-group">
  <% if policy(@question).edit? %>
    <%= link_to t('global.button.edit'), edit_question_path(@question), class: 'btn btn-secondary' %>
  <% end %>
  <% if policy(@question).destroy? %>
    <%= link_to t('global.button.delete'), question_path(@question), class: 'btn btn-danger',
      data: {method: :delete, confirm: t('global.dialog.you_sure')} %>
  </div>
   <% end %>
</div>

<div class="fs-4"> Write your comment </div>

<%= render 'comments/commentable', commentable: @question, comment: @comment,
  html_id: 'questionComments' %>

<% if policy(:answer).create? %>
<h2 class="my-3"><%= t '.write_answer' %></h2>

  <%= render 'answers/form' %>
<% end %>
<% if @answers.present? %> 
  <h2 class="mt-5 mb-3 fs-4"><%= t '.answers' %></h2>
<% end %>
<%== pagy_bootstrap_nav(@pagy) if @pagy && @pagy.pages > 1 %>

<%= render partial: 'answers/answer', collection: @answers,
  as: :answer, locals: {question: @question} %>

<%== pagy_bootstrap_nav(@pagy) if @pagy && @pagy.pages > 1 %>
